@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-primary: #3582ba;
  --color-secondary: #eb0c1e;
  --color-accent1: #f57e18;
  --color-accent2: #d98636;

  /* Font Families */
  --font-heading: var(--font-outfit);
  --font-body: var(--font-inter);
}

@layer base {
  /* Apply heading font to all headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }

  /* Apply body font to body and paragraphs */
  body,
  p {
    font-family: var(--font-body);
  }
}

body {
  overflow-x: hidden !important;
}
