/*--------------------------------------------------------------
## All Color Variable
----------------------------------------------------------------*/
:root {
  --white: #fff;
  --black: #000;
  --heading-color: #222;
  --body-color: #636363;
  --accent-color: #f57e18;
  --blue-color: #3582ba;
  --gray-color: #e8edf0;
  --border-color: #dddddd;
  --heading-font: "Poppins", sans-serif;
  --body-font: "Rubik", sans-serif;
}
