@import "default/variable";
@import "default/typography";
@import "common/preloader";
@import "common/spacing";
@import "common/general";
@import "common/slider";
@import "common/video-modal";
@import "common/header";
@import "common/footer";
@import "common/sidebar";
@import "shortcode/hero";
@import "shortcode/banner";
@import "shortcode/iconbox";
@import "shortcode/post";
@import "shortcode/cta";
@import "shortcode/testimonial";
@import "shortcode/counter";
@import "shortcode/casestudie";
@import "shortcode/team";
@import "shortcode/imagebox";
@import "shortcode/pricing";
@import "shortcode/card";
@import "shortcode/tabs";
/*--------------------------------
 Extra css
 -------------------------------*/
.cs_hero.cs_style_1 .cs_hero_text {
  background-color: inherit;
  padding: inherit;
  border-radius: inherit;
  position: inherit;
}
.cs_tab_links.cs_style_1 li a span {
  font-size: 19px;
}
.cs_card.cs_style_2 .cs_card_text {
  max-width: 530px;
}
.cs_card.cs_style_2 .cs_card_title {
  font-size: 27px;
}
.home_form_area .cs_form_field {
  background-color: #fff;
}
.about-page-area .about-team hr {
  display: none;
}
.rr--group {
  display: flex;
  width: 100%;
  position: relative;
}
.rr--box {
  display: flex;
  width: 100%;
  flex-grow: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rr--has-stroke .rr--off .rr--svg {
  stroke: var(--rr--stroke-off-color, currentColor);
  width: 30px;
  padding-left: 5px;
}
@media only screen and (min-width: 1200px) {
  .cs_hero.cs_style_1 {
    height: 600px;
  }
  .cs_nav .cs_nav_list > li {
    margin-right: 30px;
  }
}
.cs_social_btns.cs_style_1 a {
  background: #f57e18;
}

.cs_iconbox.cs_style_7 .cs_iconbox_icon svg {
  fill: #ffffff;
  font-size: 25px;
  z-index: 1;
  position: relative;
}
.cs_iconbox.cs_style_5 .cs_iconbox_icon svg,
.cs_iconbox.cs_style_3 .cs_iconbox_icon svg {
  fill: #f57e18;
  font-size: 25px;
  z-index: 1;
  position: relative;
}
.cs_iconbox.cs_style_5:hover .cs_iconbox_icon svg,
.cs_iconbox.cs_style_3:hover .cs_iconbox_icon svg {
  fill: #ffffff;
}
.cs_post.cs_style_1 .cs_post_thumbnail {
  display: block;
}
.cs_hero.cs_style_1 .cs_hero_text {
  padding-left: 0;
}
.cs_site_header.cs_style_1 {
  box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
    rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 2px 2px -1px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px,
    rgba(42, 51, 70, 0.03) 0px 10px 10px -5px,
    rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}
@media (max-width: 991px) {
  .cs_hero.cs_style_1 {
    padding: 20px 0 150px 0;
  }
}
.cs_iconbox.cs_style_5 .cs_iconbox_title {
  font-size: 18px;
}
.cs_iconbox.cs_style_5 .cs_iconbox_thumbnail img {
  border-radius: 12px;
  z-index: 1;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.cs_project_grid.cs_style_2 {
  grid-template-columns: repeat(2, 1fr);
}
.cs_project_grid.cs_style_2 .cs_project_item {
  grid-column: inherit;
}
@media only screen and (max-width: 767px) {
  .cs_site_branding img {
    width: 120px;
  }
  .cs_project_grid.cs_style_2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cs_card.cs_style_7 {
  max-height: 340px;
}
.cs_footer_highlight_col {
  background-color: #ffffff;
  color: #000000;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.cs_nav {
  font-weight: 400;
}
.cs_hero.cs_style_1 .cs_hero_title {
  font-size: 56px;
}
.cs_section_heading.cs_style_1 .cs_section_title {
  font-size: 38px;
}
